{% extends 'base.html' %}

{% block title %}
    CCA Results
{% endblock %}

{% block content %} 
</br>
<div align = "center">
<h1 style = 'color:pink'>{{ticker}}</h1>
</br>
</div>


<div class = "CCA-box" style = "clear: both"> 
    <h4 style = "display: inline;">
    EBIDTA Margins against Industry Competitors:
    </h4>
    {% if bool1 %}
    <h2 style = "color: greenyellow; display: inline;">
        ABOVE AVERAGE
    </h2>
    {% else %}
    <h2 style = "color: red; display: inline;">
        BELOW AVERAGE
    </h2>
    {% endif %}
</div>

<div class = "CCA-box" style = "clear: both"> 
    <h4 style = "display: inline;">
    EV/Revenue Margins against Industry Competitors:
    </h4>
    {% if bool2 %}
    <h2 style = "color: greenyellow; display: inline;">
        ABOVE AVERAGE
    </h2>
    {% else %}
    <h2 style = "color: red; display: inline;">
        BELOW AVERAGE
    </h2>
    {% endif %}
</div>

<div class = "CCA-box" style = "clear: both"> 
    <h4 style = "display: inline;">
    EV/EBIDTA Margins against Industry Competitors:
    </h4>
    {% if bool3 %}
    <h2 style = "color: greenyellow; display: inline;">
        ABOVE AVERAGE
    </h2>
    {% else %}
    <h2 style = "color: red; display: inline;">
        BELOW AVERAGE
    </h2>
    {% endif %}
</div>

</br>
</br>
</br>


<div>
    <h5 align = "center"> More details </h5>
</div>
    {{ table1 | safe }}
</br>
    {{ table2 | safe }}


<!-- Include true false diagram -->
        {% endblock %};